page-list {
    .header-icon{
        width: 85%;
        margin:0px;
        padding: 0px;
    }
    .search-icon{
        height: 38px;
        padding-right: 12px;
    }
    .flex{
        display: flex;
        height: 100%;
        justify-content: flex-start;
        margin-left: 16px;
        align-items: center;
    }
    .center{
        display: flex;
        flex-direction: row;
        height: 100%;
        justify-content: space-between;
        align-items: center;
    }
    .item{
        width: 100%;
        height: 56px;
        display: flex;
        align-items: center;
    }
    .list-item{
        margin: 0px;
        padding: 0px;
        margin-left: 16px;
        font-size: 16px;
    }
    .judul{
        color:white;
        font-size: 20px;
        font-weight: 500;
        margin: 0px;
        padding: 0px;
        margin-left: 8px;
        overflow: hidden;
    }  
    .toolbar-background {
        background-color:#FFF;
      }
    .card-content-md {
        padding: 0 !important;
        max-height: 145px;
        min-height: 145px;
        min-width: 145px;
        max-width: 145px;
     }
    .card-content-ios {
        padding: 0 !important;
        max-height: 168px;
        min-height: 168px;
        min-width: 168px;
        max-width: 168px;
     }
     .card-undp{
         width: 100%;
         display: flex;
         justify-content: center;
         align-items: center;
     }
}
