
<ion-header [ngStyle]="{'background-color': detail?.color}" >
  <ion-navbar [ngStyle]="{'background-color': detail?.color}" hideBackButton="true">
      <div class="flex">
            <img src="assets/icon/back.png" class="header-back" (click)="goBack()">
            <img [src]="icon" class="header-icon">
            <p class="judul">{{ detail?.title }}</p>
        <img src="assets/icon/search.png" (click)="cari()" class="search-icon">

        </div> 
          <div class="line">
              <div *ngFor="let color of arrColor" class="kotak" [ngStyle]="{'background-color': color?.color}">
                &nbsp;
              </div>
          </div>
  <div class="sub" [ngStyle]="{'background': detail?.color}">
    <p class="subtitle">{{detail?.subtitle}}</p>
  </div>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="pilihan=='target'" style="padding:8px">
    <div  *ngFor="let item of data1" (click)="targetClick(item)">
      <div [innerHtml]="item.title"></div>
    </div>
  </div>
  <div *ngIf="pilihan=='indikator'" style="padding:8px">
    <div  *ngFor="let item of data2">
      <div [innerHtml]="item.title"></div>
    </div>
  </div>
  <div *ngIf="pilihan=='metadata'" style="padding:8px">
    <div  *ngFor="let item of data3">
      <div [innerHtml]="item.title"></div>
    </div>
  </div>
</ion-content>

<ion-footer>
    <ion-segment [(ngModel)]="pilihan" color="primary">
        <ion-segment-button value="target">
          Target
        </ion-segment-button>
        <ion-segment-button value="indikator">
          Indikator
        </ion-segment-button>
        <ion-segment-button value="metadata">
            Metadata
        </ion-segment-button>
      </ion-segment>
</ion-footer>
